extends layout

block content
    <table border="0" width="100%" style="height:85vh">                
        <tr id="alarms" class="collapse.in">
            <td width="80px" align="left" v-align="center"> 
                <label class="switch">
                  <input type="checkbox" id="Alarm1">
                  <span class="slider round"></span>
                </label>   
            <td width="160px" align="center">
                <div class="input-group clockpicker">
                    <input type="text" id="Time1" class="form-control" value="">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <script type="text/javascript">$('.clockpicker').clockpicker({align: 'left'});</script>
            <td width="100%" align="center">
            <td width="160px" align="center">
                <div class="input-group clockpicker">
                    <input type="text" id="Time2" class="form-control" value="">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <script type="text/javascript">$('.clockpicker').clockpicker({align: 'right'});</script>
            <td width="80px" align="right"> 
                <label class="switch">
                  <input type="checkbox" id="Alarm2">
                  <span class="slider round"></span>
                </label>   
        <tr>
            <td colspan="5"><div id="Time" align="center"></div>
        <tr>
            <td colspan="5"><div id="Day" align="center"></td>  
        <script type="text/javascript">var audio = document.createElement('audio');audio.style.display="none";audio.id="webradio";audio.src=config.webradio;document.body.appendChild(audio); </script>
    <div id="buttons">   
    <table border="2" width="100%" margin="0" padding="0" >
        <tr height="70px">
            <td width="20%" align="center"> <a href="javascript:void(0)" onclick="button_left()"><div id="Button_left"></div></a></td>
            <td width="20%" align="center"> <a data-toggle="collapse" data-target="#alarms"><div id="Button2">Alarms</div></a></td>
            <td width="20%" align="center"> <a href="javascript:void(0)" onclick="button_center()"><div id="Button_center"></div></a> </td>      
            <td width="20%" align="center"> <a href="javascript:void(0)" onclick="toggleRadio()"><div id="Button4"></div></a></td>
            <td width="20%" align="center"> <a href="javascript:void(0)" onclick="button_right()"><div id="Button_right"></div></a> </td>
    </div>