extends layout

block content
    <table border="2" width="100%">
        <tr>
            <td align="center"><a data-toggle="collapse" data-target="#alarms"> Alarms</a></td>
                
        <tr id="alarms" class="collapse">
            <td> 
                <label class="switch">
                  <input type="checkbox" id="Alarm1" onclick="myAlarm()">
                  <span class="slider round"></span>
                </label>

    
        <tr>
            <td><div id="Time" align="center" size="20"></div>
        <tr>
            <td><div id="Day" align="center" size ="20"></td>
            