doctype html
html
  head
    title= title    
    
    link(rel='stylesheet', href='/stylesheets/clockpicker.css')
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="javascripts/clockpicker.js"></script>
    <script type="text/javascript" src="javascripts/time.js"></script>
    link(rel='stylesheet', href='/stylesheets/main.css')
  <body onload='startTime()'>

    block content