@font-face {
    font-family: 'digital-clock-font';
    src: url('digital-7.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:#000000;
}

a {
    font-size:20px;
    color:green;
}

#Time {
    font-size:150px;
    color: green;
}

#Day {
    font-size:30px;
    color:green;
}

#buttuns {
    position: absolute;
    bottom: 0px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 4px;
    left: 0px;
    right: 0px;
    bottom: -4px;
    background-color: #777;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    top: 4px;
    left: 4px;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    background-color: #777;
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }